.tag {
    border: 1px solid #ECECEC;
    padding: 5px 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    display:inline-block;
    margin: 5px;
    font-size: .68rem;/*11px*/
    color: #777;
}

