.App {
  text-align: center;
  padding-top: 60px;
}

article {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

article div[class*="card_"]  {
  box-sizing: border-box;
  flex: 23.8%;
  -ms-flex: 23.8%;
  margin: 8px 4px;
  justify-content: space-between;
}

@media all and (min-width: 481px) and  (max-width: 768px){
  .article {
    display: flex;
   }
  article div[class*="card_"] {
    flex: 47.8%;
    -ms-flex: 47.8%;
    justify-content: space-between;
  }
}

@media all and (max-width: 480px){
  .article {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
   }
  article div[class*="card_"] {
    flex: 100%;
  }
}